/* タブレット用の画面 */
@media(max-width:1000px) {

}

/* スマホ用の画面 */
@media(max-width:670px) {
    /* ここからヘッダー */
    .header-logo {
        color: rgb(250, 249, 249);
        font-size: 20px;
        text-shadow:2px 1px rgb(5, 5, 5);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        float: left;
        line-height: 60px;
        padding:0 5px;
        cursor: pointer;
    }
    .header-logo:hover {
        opacity:0.6
    }

    .fa-drum{
        display: none;
    }
    .header-login {
        display: none;
    }

    /* ここからメイン */
    .main-title {
        font-size:15px;
        margin-bottom:500px;
    }

    /* ギャラリー */
    .message {
        font-size: 12px;
        font-weight: bold;
    }

    /* ここからFAQ */
    .faq-title {
        font-size: 15px;
    }

    .faq-list-item h5 {
        font-size: 12px;
    }
    .faq-list-item h6{
        font-size: 9px;
    }
    /* ここからフッター */
    footer h6,h3{
        font-size: 7px;
        
    }
}
