/* タブレット用の画面 */
@media(max-width:1000px) {

}

/* スマホ用の画面 */
@media(max-width:670px) {
    .main-title {
        font-size:25px;
        text-shadow:2px 2px rgb(102, 101, 101);
        margin-bottom:500px;
        color: crimson;
    }
}
